<?xml version="1.0"?>

<launch>
  
  <node pkg="raspicam" type="raspicam_raw_node" name="raspicam" respawn="true" ns="camera" output="screen">
    <param name="quality" type="double" value="10.0"/>
    <param name="framerate" type="double" value="50.0"/>
    <param name="width" type="double" value="640.0" />
    <param name="height" type="double" value="480.0" />
  </node>
  
</launch>
